@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  border: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: aqua;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-family: "Raleway", sans-serif;
}
.foot {
  align-self: center;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: #e8491d00;
  border: solid 1px white;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
.button_1:hover {
  background-color: indigo;
  border: none;
}
.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*header*/
header {
  font-family: "Playfare Display", serif;
  color: green;
  padding-top: 30px;
  min-height: 60px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

header li {
  text-decoration: none;
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  color: white;
}

header #branding {
  float: left;
  color: white;
  font-size: large;
  font-weight: normal;
}

header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
  color: white;
}

header .highlight,
header .current a {
}

header a:hover {
  color: wheat;
  animation-duration: 40ms;
}
#containerandshowcase {
  background-image: url(img/bgofmydiv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-decoration: none;
}

/* Showcase */

#showcase {
  min-height: 400px;
  text-align: center;
  color: white;
  height: 100%;
  padding-top: 0px;
}
#showcase h1 {
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 0px;
  font-family: "Roboto Condensed", sans-serif;
}

#showcase p {
  font-size: 20px;
  font-family: "Heebo", sans-serif;
}

#newsletter {
  padding: 15px;
}

#newsletter h1 {
  float: left;
  font-family: "Roboto Condensed", sans-serif;
  font-size: large;
  color: white;
  letter-spacing: 1px;
  font-weight: lighter;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  border: none;
  background-color: rgba(102, 51, 153, 0);
  border-bottom: solid 2px white;
  color: white;
  padding: 4px;
  height: 25px;
  width: 250px;
}
.placeholder {
  color: white;
}

/* Boxes */

#boxes {
  margin-top: 0px;
}

.box {
  text-align: center;
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  box-sizing: border-box;
  width: 23vw;
  padding: 1em;
  height: 40vh;
  border-radius: 4em;
  background-image: url(img/webdesign.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 300px;
  min-height: 300px;
  box-shadow: 20px 20px 10px rgba(14, 13, 13, 0.54);
}
.image1 {
  box-sizing: border-box;
  width: 23vw;
  padding: 1em;
  height: 40vh;
  border-radius: 4em;
  background-image: url(img/SEO.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 300px;
  min-height: 300px;
  box-shadow: 20px 20px 10px rgba(14, 13, 13, 0.54);
}
.image2 {
  box-sizing: border-box;
  width: 23vw;
  padding: 1em;
  height: 40vh;
  border-radius: 4em;
  background-image: url(img/digitalmarket.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 300px;
  min-height: 300px;
  box-shadow: 20px 20px 10px rgba(14, 13, 13, 0.54);
}

.box h3 {
  margin-top: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.box p {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: white;
}
.containerofboxes {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.whole {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  background-image: url(img/backgroundofboxes.png);
}

/* sidebar*/

aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* main-col*/
article#main-col {
  float: left;
  width: 65%;
}

/*services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

.foot {
  padding: 10px;
  margin-top: 0px;
  text-align: center;
  color: white;
  font-size: 20px;
}

/* Media Queries*/
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }
  .containerofboxes {
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
  }
  #boxes .box {
    align-items: center;
  }

  .image {
    justify-content: center;
  }
  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
  }
  #newsletter button,
  .quote button {
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"],
  .quote input,
  .quote textarea {
    width: 100%;
    margin-bottom: 5px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }

  .button_1 {
    margin-top: 30px;
    align-self: center;
  }
  #newsletter input[type="email"] {
    align-self: center;
  }
  #containerandshowcase {
    background-image: url("https://raw.githubusercontent.com/Param-Singh/pages/master/img/mobilebg.jpg";
    background-repeat: no-repeat;
    background-size: cover;
  }
  .whole {
    box-sizing: border-box;
    border: none;
    background-image: url("https://raw.githubusercontent.com/Param-Singh/pages/master/img/mobilecc.png");
  }
}
